Research question: People with autism tend to demonstrate higher levels of alexithymia (inability to identify one's own emotion). Theories state that it may be that people with austism also tend to have alexithymia, not necessarily that alexithymia is a symptom of autism. There are many scales to measure both autism and alexithymia separately. If a person scores high for having autism will their score for alexityhmia also be high?
Hypothesis: Scores on the Social Responsiveness Scale (SRS-2) will be highly correlated with scores from the Toronto Alexithymia Scale (TAS-20).

For my analysis, I plan on running a Pearson's correlation to determine if there is a relationship between the scores of the SRS-2 and the TAS-20. 

My program will read in the tsv file that contains the scores for each participant for both scales. The program will then run a Pearson's r correlation to examine the relationship between alexithymia and autism. In addition, the program will provide a graph to demonstrate the results and show whether there is a strong, positive or strong negative correlation between the two scores. If the correlation coefficient is above .70, it is expected that there is a strong correlation. The program will also provide a p value and confidence interval.

In [1]:
#I am separating the blocks to indicate this is all this piece of code is doing. 
#This is importing the pandas directories.
import pandas as pd

In [2]:
#New block to read in the file
scores_csv = 'Dataset_TAS_SRS.csv'


df = pd.read_csv(scores_csv)

#This displays a couple rows to make sure it is seeing the file properly. 
df.head(3)

   ID  Gender  Age  TAS-20  SRS
0   1       2   14      43   51
1   2       2   11      44   60
2   3       2   16      60   75

In [5]:
#This is showing correlations for specific columns
#df[['TAS-20', 'SRS']].corr('pearson')

#This is showing correlations for all data 
df.corr('pearson')

              ID    Gender       Age    TAS-20       SRS
ID      1.000000 -0.002548 -0.011183 -0.004586 -0.020604
Gender -0.002548  1.000000 -0.026359  0.131823 -0.044623
Age    -0.011183 -0.026359  1.000000  0.023686 -0.007582
TAS-20 -0.004586  0.131823  0.023686  1.000000  0.707105
SRS    -0.020604 -0.044623 -0.007582  0.707105  1.000000